.container {
    display: grid;
    grid: 85px 85px 85px 85px 85px 85px / 85px 85px 85px 85px 85px 85px 85px;
    gap: 3px;
    margin: 50px auto;
}

.container>div {
    display: flex;
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.winner {
    background-color: cornflowerblue !important;
}